*.tfplan
keys.tf
.idea
.terraform
my_ip.sh
*.tfstate*
.env_file
__pycache__
.DS_Store
variables.tf
db/
draft/
jenkins_key
k8s-secrets
kubeconfig_eks-cluster-flask
maproles
password.txt
username.txt
secrets.tf
my_conf_files/
query-elasticsearch.sh
templates-guy/
*.mov
fluentd-elasticsearch
